<div class="sidebar-top-heading">
    <h2 class="sidebar-heading">All Notes</h2>
    <span class="push">
        <button class="note-add-btn" (click)="createNote()" [disabled]="isAdding"><i class="fa fa-plus"></i> New Note</button>
    </span>
</div>
<div class="sidebar-container">
    <div class="input-container">
        <i class="fa fa-search icon"></i>
        <input class="input-field" type="text" placeholder="Type something" name="search" [(ngModel)]="searchTerm">
    </div>
    <section class="scroll-list-item">
        <div class="list-item" *ngFor="let note of notesList | searchNotes: searchTerm" (click)="onNoteItemClick(note)"
            [ngClass]="{'is-selected': note.id === this.selectedNoteItem?.id, 'is-adding': isAdding}">
            <div class="sidebar-title-wrap">
                <div class="sidebar-title">
                    <span *ngIf="note.title" innerHTML="{{ note.title | highlight : searchTerm}}"></span>
                    <span *ngIf="!note.title">Untitled</span>
                </div>
                <span [hidden]="note.id === this.selectedNoteItem?.id && isAdding" (click)="removeItem(note.id)"><i class="fa fa-trash"></i></span>
            </div>
            <div class="sidebar-content">
                <span *ngIf="note.content" innerHTML="{{ note.content | highlight : searchTerm}}"></span>
                <span *ngIf="!note.content">No additional content</span>
            </div>
            <div class="timestamp">{{note.updatedOn | amUtc | amTimeAgo}}</div>
        </div>
    </section>
</div>