.content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: crimson;

}
button {
    font-weight: 600;
    padding: 6px;
    border-radius: 11%;
    border: 2px solid #c30000;
}

.welcome-text {
    color: bisque;
}